h1{
    color: white;
    background-color: black;
}
#p1{
    color: black;
    font-style: italic;
}
#w3s {
    color: 187, 191, 122 !important;
    background-color:green !important;
}
#b4{
    text-decoration: none;
}
.button{
    background-color:33, 31, 31 ;
    border-radius: 2cm;
    padding: 3px 5px;
    text-align: center;
    display: inline-block;
    font-size: small;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
    
}
#footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
    font-style: oblique;
    
}